.project-section {
  padding: 4em;
}

.project-section-header {
  width: max-content;
  position: relative;
  margin-bottom: 2em;
}

.project-section-header h1 {
  font: "opensans-bold", sans-serif;
  text-transform: uppercase;
  border-bottom: 3px solid #11abb0;
  padding-bottom: 0.5em;
  font-weight: bold;
}

.project-section-header h1::after {
  content: "|||";
  color: gold;
  position: absolute;
  bottom: -20px;
  left: 50%;
}

.project-section-main {
  display: grid;
  grid-template-columns: auto auto auto;
}
.project-item {
  /* width: 28%; */
  margin: 1em;
  position: relative;
  transition: all 0.2s ease-in-out;
  border: 4px solid white;
}

.project-item img {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  color: white;
  background-color: #000000b8;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: none;
  transition: all 0.2s ease-in-out;
  font-size: 1.2em;
}

.overlay p {
  text-align: center;
  margin: 0;
}

.project-item:hover .overlay {
  display: flex;
  transition: all 0.2s ease-in-out;
  background-color: #030600d4;
}

.git-btn{
  padding: .05em 1em;
  color: white;
  background: #0b4f9e;
  border: 0;
  margin: .5em;
  border-radius: 3px;
  font-size: 1.1em;
  transition: .2s ease-in-out all;
}
.live-btn{
  padding: .05em 1em;
  color: #0b4f9e;
  background: white;
  border: 0;
  margin: .5em;
  border-radius: 3px;
  font-size: 1.1em;
  font-weight: bold;
  transition: .2s ease-in-out all;
}
.video-btn{
  padding: .05em 1em;
  color: red;
  background: white;
  border: 0;
  margin: .5em;
  border-radius: 3px;
  font-size: 1.1em;
  font-weight: bold;
  transition: .2s ease-in-out all;
}

.video-btn:hover{
  color: white;
  background: red;
}

.live-btn:hover{
  color: white;
  background: #0b4f9e;
  transition: .2s ease-in-out all;
}

.git-btn:hover{
  color: #0b4f9e;
  background: white;
  transition: .2s ease-in-out all;
}

.fa-react {
  color: lightblue;
}
.fa-js-square {
  color: yellow;
}
.fa-python {
  color: #ff9900f7;
}

.fa-python,
.fa-js-square,
.fa-react {
  margin: 0.3em;
  font-size: 1.4em;
}

#small-django {
  width: 20px;
  height: 25px;
  margin-bottom: 5px;
}

@media (max-width: 1024px) {
  .project-section {
    padding: 1em;
  }
  .project-section-header {
    width: auto;
    text-align: center;
  }

  .project-section-main {
    display: grid;
    grid-template-columns: auto auto;
  }

  .project-item {
    margin: 2em;
  }

  .project-item h3 {
    margin: 0;
    font-size: 1.5rem;
  }
}

.video-component{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;  
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #131212bb;
}

.none{
  display: none;
}

@media (max-width: 800px) {
  .project-item {
    margin: 0.5em;
  }
  .video-btn, .git-btn, .live-btn{
    margin: .2em;
    padding: .05em .5em;
  }
}

@media (max-width: 600px) {
  .project-section-main {
    display: grid;
    grid-template-columns: auto;
  }

  .project-item {
    margin: 2em;
  }
}

@media (max-width: 450px) {
  .project-item h3 {
    margin: 0;
    font-size: 1.5rem;
  }
}
