.contact-section {
  padding: 1em;
}

.contact-section-dark{
  background: #17191b;
  color: white;
}

.contact-section h1 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font: "opensans-bold", sans-serif;
  text-transform: uppercase;
  border-bottom: 3px solid #11abb0;
  padding-bottom: 0.5em;
  font-weight: bold;
  position: relative;
  width: fit-content;
  align-items: center;
  margin: auto;
  margin-bottom: 0.5em;
}

.contact-section h1::after {
  content: "|||";
  color: gold;
  position: absolute;
  bottom: -20px;
  left: 50%;
}

.contact-form-container {
  padding: 1em 5em !important;
}

.form-group {
  display: flex;
  justify-content: space-around;
}

.contact-section input {
  height: 55px;
  width: 49%;
  background: #011025;
  border-radius: 0;
  font-size: 1.4em;
  color: white !important;
}

.contact-section textarea {
  width: 100%;
  background: #011025;
  border-radius: 0;
  font-size: 1.4em;
  color: white !important;
  height: 300px !important; /* border: 3px solid white; */
}

.contact-section-dark input, .contact-section-dark textarea {
  background-color:  #3c3f42;
 }

.contact-section input:focus,
.contact-section input:active,
.contact-section textarea:focus,
.contact-section textarea:active {
  background: #011025;
  border: 4px dashed #e5e5e5;
  outline: 0;
  box-shadow: 0 0 rgba(245, 245, 220, 0) !important;
}

.contact-section-dark input:focus,
.contact-section-dark input:active,
.contact-section-dark textarea:focus,
.contact-section-dark textarea:active {
  background-color:  #3c3f42;
}

.send-btn {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 100px;
  height: 50px;
  background: #011025;
  display: flex;
  justify-content: center;
  align-items: center;
}

.send-btn a {
  position: relative;
  left: 0;
  transition: all 0.35s ease-Out;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.send-arrow {
  width: 100%;
  height: 100%;
  left: -200px;
  position: absolute;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.35s ease-Out;
  bottom: 0;
  color: white;
  background-color: #052552;
  font-size: 1.2em;
}

.contact-section-dark .send-arrow, .contact-section-dark .send-btn{
  background-color: #222529;
}

.send-arrow i {
  width: 20px;
  height: auto;
}

.send-btn:hover .send-arrow {
  left: 0;
}

.send-btn:hover a {
  left: 150px;
}



.contact-right {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  padding: 3em !important;
}

.contact-row {
  justify-content: space-around;
}

.contact-item {
  display: flex;
  width: 50%;
}

.contact-item-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-item-main p {
  margin-bottom: 0.5em;
}

.contact-item-main a {
  color: black;
}

.contact-item-main .item-title {
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.contact-item-main .item-title.dark {
  font-weight: bold;
  text-transform: uppercase;
  color: whitesmoke;
}

.contact-icon-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  border: 4px solid #011025;
}

.contact-section-dark .contact-icon-container {
  border: 4px solid #222529;
}

.contact-icon-container i {
  font-size: 1.7em;
}

@media (max-width: 800px) {
  .contact-row {
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 1em;
  }

  .contact-form-container {
    padding: 0.5em !important;
  }

  .contact-item {
    width: 100%;
  }
}
