@font-face {
  font-family: DINBold;
  src: url("../../../images/DIN Bold/DIN Bold.otf");
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(#0b63c7, rgba(255, 0, 0, 0.45)),
    url(../../../images/bg4.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
}
.hero.dark {
  background-image: linear-gradient(#2a2e33, rgba(255, 0, 0, 0.45)),
    url(../../../images/bg4.png);
}

.left {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left .img-container img {
  border-radius: 50%;
  width: 350px;
  height: 350px;
  border: 5px solid white;
}
.left .img-container img.dark {
  border: 5px solid #222529;
}

.social {
  display: flex;
  margin: 20px;
}

.icon-container {
  border: 3px solid rgb(194 110 114);
  color: rgb(194 110 114);
  border-radius: 50%;
  background-color: black;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.icon-container:hover {
  border: 2px solid #0b63c7;
  color: #0b63c7;
}

.icon {
  color: rgb(194 110 114);
}

.icon:hover {
  color: #0b63c7;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5em;
  width: 60%;
  align-items: center;
}

.intro-text h1 {
  color: white;
  font-size: 3rem;
}

.intro-text p {
  color: black;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.right .intro-text {
  font-family: DINBold;
  transform: translateX(400px);
  opacity: 0;
  transition: 1s all ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.right .intro-text.move {
  transform: translateX(0px);
  opacity: 1;
  transition: 1s all ease-in-out;
}

.blink {
  color: gold;
  font-family: cursive;
  font-weight: bold;
}

.right .resume-btn {
  overflow: hidden;
  position: relative;
  margin-top: 1em;
  background-color: #22252900;
  padding: 0.3em;
  color: white;
  border: 3px solid white;
  transition: 0.3s all ease-in-out;
  display: flex;
  width: fit-content;
}

.slide {
  position: absolute;
  bottom: 0;
  left: -230px;
  background-color: white;
  width: 100%;
  height: 100%;
  transition: 0.3s all ease-in-out;
}

.resume-btn.dark .slide {
  background-color: #222529;
}
.right .resume-btn:hover .slide {
  transition: 0.3s all ease-in-out;
  left: 0px;
}

.right .resume-btn a {
  outline: none;
  text-decoration: none;
  z-index: 1;
  color: white;
}
.right .resume-btn:hover a {
  color: #074699;
}

.right .resume-btn.dark:hover a {
  color: white;
}

@media (max-width: 700px) {
  .hero {
    height: initial;
    display: flex;
    flex-direction: column;
    min-height: 92vh;
    padding: 0 0 10px 0;
  }

  .left {
    width: 100%;
  }

  .left .img-container img {
    width: 250px;
    height: 250px;
    margin-top: 10px;
  }

  .right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .intro-text h1 {
    font-size: 2.5rem;
  }
  .intro-text hr {
    display: none;
  }

  .intro-text p {
    font-size: 1.5rem;
    margin: 0;
  }
}
