.skill-section {
  padding: 2em 4em;
  width: 100%;
  height: initial !important;
  display: flex;
  flex-direction: column;
  background-color: #0b4f9e;
}

.skill-section-dark {
  background-color: #222529 !important;
}

.skill-section-header {
  width: max-content;
  position: relative;
}

.skill-section-header h1 {
  font: "opensans-bold", sans-serif;
  text-transform: uppercase;
  border-bottom: 3px solid #11abb0;
  padding-bottom: 0.5em;
  color: white;
  font-weight: bold;
}

.skill-section-header h1::after {
  content: "|||";
  color: gold;
  position: absolute;
  bottom: -10px;
  left: 50%;
}

.logo-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo-holder i {
  padding: 0.6em;
  font-size: 5em;
}
.logo-holder img {
  padding: 0.6em;
}

.prompt {
  cursor: pointer;
  width: 100%;
  background-color: #0b4f9e;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.prompt-dark{
  background-color: #3c3f42;

}

.prompt:hover {
  background-color: #2d64a5;
}

.prompt-dark:hover{
  background-color: #5c5e61;
}

.prompt i {
  margin-left: 1em;
}

.prompt p {
  margin: 0;
}

.more {
  width: 100%;
  display: flex;
  height: 0px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  margin-top: 1em;
}

.show-more {
  display: flex !important;
  height: 210px;
  transition: all 0.5s ease-in-out;
}

.more-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 5em;
}

.my-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  background: white;
  border-radius: 5px;
  font-size: 1.2em;
  position: relative;
}

.my-col-dark{
  background: #3c3f42;
  color: whitesmoke;
}


.my-col h4 {
  background-color: #0b4f9e;
  padding: 0.2em;
  color: white;
  border-radius: 50%;
  box-shadow: 0 0 8px 0 rgba(17, 22, 26, 0.16),
    0 4px 8px 0 rgba(17, 22, 26, 0.08), 0 8px 16px 0 rgba(17, 22, 26, 0.08);
  position: absolute;
  top: -18px;
}
.my-col-dark h4 {
  background: whitesmoke;
  color: #3c3f42;
}

.more-container ul {
  margin-top: 2em;
}

.more-container li {
  list-style-type: disc;
}

@media (max-width: 1024px) {
  .skill-section {
    padding: 2em;
  }
  .skill-section-header {
    width: auto;
    text-align: center;
    margin-bottom: 3em;
  }
  .logo-holder i {
    padding: .2em;
    font-size: 4em;
  }
  .logo-holder img {
    padding: 0em;
    height: 60px;
  }
  .more-container {
    padding: 0 3em;
  }
}

@media (max-width: 600px) {
  .show-more {
    flex-direction: column !important;
    height: 700px;
    justify-content: center;
    align-items: center;
  }
  .more-container {
    padding: 0 1em;
  }
}

@media (max-width: 400px) {
 
  .logo-holder i {
    padding: 0em;
    font-size: 4em;
  }

}

@media (max-width: 320px) {
 
  .logo-holder i {
    font-size: 3.5em;
  }

  .logo-holder img {
    padding: 0em;
    height: 50px;
  }

}
