.footer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  background-color: #f8f9fa;
  box-shadow: 0 0 8px 0 rgba(17, 22, 26, 0.16),
    0 4px 8px 0 rgba(17, 22, 26, 0.08), 0 8px 16px 0 rgba(17, 22, 26, 0.08);
}

.footer p {
  margin: 0px;
}

.footer a {
  color: black;
}
