.experience-section {
  display: flex;
  flex-direction: row;
  padding: 4em;
  background-color: white;
}

.header-col {
  padding: 0 3em;
}
.main-col {
  padding-left: 6em;
}

.experience-section h1 {
  font: "opensans-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}
.experience-section h1 span {
  border-bottom: 3px solid #11abb0;
  padding-bottom: 6px;
  position: relative;
  padding-bottom: 0.5em;
}

.experience-section h1 span::after {
  content: "|||";
  color: gold;
  position: absolute;
  bottom: -20px;
  left: 50%;
}

.experience-section h3 {
  font: "opensans-bold", sans-serif;
}

.experience-section .info {
  font: "librebaskerville-italic", serif;
  color: #6e7881;
  margin-bottom: 18px;
  margin-top: 9px;
}

.experience-section .info span {
  margin-right: 10px;
  margin-left: 10px;
}

.experience-section .date {
  font: "opensans-regular", sans-serif;
  margin-top: 6px;
}

.experience-item {
  padding: 0 0 2em 0;
}

@media (max-width: 770px) {
  .experience-section {
    flex-direction: column;
    padding: 2em;
  }

  .header-col {
    padding: 0;
    margin-bottom: 4em;
    text-align: center;
  }

  .main-col {
    padding: 0;
  }
}
